
.center {
    float: center;
    text-align: center;
    align-content: center;
    align-self: auto;
    vertical-align: auto;
}


.CreateButton {
    left:450px;
 }

 .Menu {
    position: absolute;
}